@charset "utf-8";
/* CSS Document */

/* roboto-300 - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/roboto-v30-latin-ext-300.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/roboto-v30-latin-ext-regular.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/roboto-v30-latin-ext-500.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/roboto-v30-latin-ext-700.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(fonts/roboto-v30-latin-ext-900.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
	box-sizing: border-box;
}

:root {
	--maxw: 1600px;
	--minw: 280px;
	--colright: calc((100vw - var(--maxw))/2);
	--sidepad: min(38px,max(15px, 2vw));
	--fontsize-normal: min(24px,max(16px, 1.4vw));
	--droptransdur: 0.2s;
}

/*UNCOMMENT FOR DEBUG*/

/*
.main-column, .foto, .info-text, .odkaz, .grid-container > div {
	border-style: solid;
	border-width: 1px;
	border-color: greenyellow;
}
*/

/*UNCOMMENT FOR DEBUG*/

html {
  scroll-behavior: smooth;
}

body {
	margin: auto;
	padding: 0;
	background-color: #281b4b;
	color: #e9c2b8;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: var(--fontsize-normal);
	justify-content: center;

}

header {
	margin: auto;
	padding-left: calc(2*var(--sidepad));
	padding-right: calc(2*var(--sidepad));
	max-width: var(--maxw);
	height: 110px;
	max-height: 25vh;
	min-height: 50px;
	display: flex;
	align-items: center;
}

section {
	padding: var(--sidepad) 0 calc(0.5*var(--sidepad));
	display: flex;
}

a:link {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
/*	text-decoration: underline;*/
	font-weight: 900;
}

a:active {
	color: inherit;
	text-decoration: none;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: var(--fontsize-normal);
    }

h2 {
	margin-bottom: 0;
	font-weight: 500;
	font-size: 150%;
/*	text-transform: uppercase;*/
}

b, strong, h3 {
	margin: 0;
	font-weight: 500;
	font-size: inherit;	
}

ul {
	list-style-type: none;
	padding-left: 0;
}

p {
	margin: 5px 0;
}

hr {
	width: 40vw;
	left: 30vw;
	height: 1px;
    background-color: #281B4B;
	position: absolute;
	border-style: none;
}

.poz-fialove hr {
    background-color: #E9C2B8;
	position: inherit;
	display: none;
}

.main-column, .info-text {
	padding: var(--sidepad);
}

.dropbtn {
	aspect-ratio: 1 / 1;
	height: 100%;
    background-color: #E9C2B8;
    color: white;
    cursor: pointer;
	border-style: solid;
	border-color: #281B4B;
	border-width: 2px;
	transition: background-color var(--droptransdur);
}

.hamburger {
	display: block;
    width: 60%;
    height: 3px;
    background-color: #281B4B;
    margin: 4px auto;
}

.dropdown {
    position: fixed;
    right: max(0px, calc((100vw - var(--maxw))/2));
    margin-right: calc(2*var(--sidepad));
	height: 5vw;
	max-height: 52px;
	min-height: 40px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    display: inline-block;
	z-index: 1;
}

.dropdown-content {
/*    display: none;*/
	visibility: hidden;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
	border-style: solid;
	border-color: #281B4B;
	border-width: 2px;
    z-index: 1;
	opacity: 0.0;
	transition: background-color var(--droptransdur);
	transition: opacity var(--droptransdur);
	}

.dropdown-content a {
    color: #281B4B;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
	font-weight: 400;
	font-size: max(13px,(min(3vh,18px)));
}

.dropdown-content a:hover {
    background-color: #F6E6E2;
	font-weight: 700;
	transition: background-color var(--droptransdur);
}
.dropdown:hover .dropdown-content {
/*    display: block;*/
	visibility: visible;
	opacity: 1.0;
	transition: opacity var(--droptransdur);
}

.dropdown:hover .dropbtn {
    background-color: white;
	transition: background-color var(--droptransdur);
}


.main-column {
	margin: auto;
	width: 100%;
	max-width: var(--maxw);
	min-width: var(--minw);
	}

.poz-fialove {
	background-color: #281b4b;
	color: #e9c2b8;
}

.poz-bezove {
	background-color: #e9c2b8;
	color: #281b4b;
}

.content {
   	margin: auto;
	min-width: var(--minw);
	text-align: center;
    }

.responsive {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
}

.info-text {
	font-size: var(--fontsize-normal);
	padding: var(--sidepad);
	text-align: left;
	line-height: 1.75;
}

#C1 {
	text-align: center;
/*	columns: 2;*/
	padding-top: 0;
	padding-bottom: 0;
}

#A2 {
	grid-area: 1;
}

.cast5 .main-column{
	align-items: start;
}

.grid-container {
	width: 100%;
	max-width: var(--maxw);
	min-width: var(--minw);
	margin: auto;
	padding: var(--sidepad);
  	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
	row-gap: 0;
}

/*
.grid-item4, .grid-item5, .grid-item6 {
	align-self: center;
}
*/

.odkaz-popis {
	padding: 0 var(--sidepad);
	text-align: center;
	line-height: 1.5;
}

.logo  {
	height: 50%;
	max-width: 50%;
	min-width: 60px;
	font-weight: 500;
	font-size: 90px;	
    }



@media screen and (orientation: portrait) and (max-width: 800px), (max-width: 640px)  {
	
	.responsive {
		grid-template-columns: 100%;
	}
	
	#A2 {
		grid-area: 2;
	}
	
	.odkaz {
		margin: var(--sidepad) auto;
/*		padding: 0 var(--sidepad);*/
	}
	
	.odkaz-popis {
		text-align: left;
	}
	
	.poz-fialove hr {
		display: inline;
	}
/*
	#E2 {
		display: none;
	}
*/
	
	.jachym {
		max-width: 400px !important;
	}
	
	.grid-container {
		grid-template-columns: 25% auto;
		row-gap: var(--sidepad);
		align-items: center;
	}
	.grid-item1 {grid-area: 1/1/2/2;}
	.grid-item2 {grid-area: 2/1/3/2;}
	.grid-item3 {grid-area: 3/1/4/2;}
	.grid-item4 {grid-area: 1/2/2/3;}
	.grid-item5 {grid-area: 2/2/3/3;}
	.grid-item6 {grid-area: 3/2/4/3;}
}

@media screen and (max-width: 340px) {
	.grid-container {
		grid-template-columns: 100%;
		row-gap: 0;
		align-items: center;
	}
	.grid-item1 {grid-area: 1/1/2/2;}
	.grid-item2 {grid-area: 3/1/4/2; padding-top: 30px;}
	.grid-item3 {grid-area: 5/1/6/2; padding-top: 30px;}
	.grid-item4 {grid-area: 2/1/3/2;}
	.grid-item5 {grid-area: 4/1/5/2;}
	.grid-item6 {grid-area: 6/1/7/2;}
	
	.odkaz {
		margin-bottom: 0;
	}
	
	.odkaz-popis {
		text-align: center;
	}
}




.foto-cont {
	padding: var(--sidepad);
	overflow: hidden;
}

.foto-wrapper {
	max-width: max(80vw, 600px);
	margin: auto;
	overflow: hidden;
}

.foto {
	max-width: 100%;
	filter: grayscale(80%);
	transition:	filter 5s, transform 20s ease-in-out;
	display: block;
	margin: auto;
}

.jachym .foto {
	transform-origin: 20% 5%;
}

.foto:hover {
	filter: grayscale(0%);
	transform: scale(1.2);
	transition: filter 5s, transform 20s ease-in-out;
}

.profilovka {
	filter: grayscale(80%);
	transition: filter 1s, transform 0.1s;
	height: 60px;
	border-radius: 50%;
}

a:hover .profilovka {
	filter: grayscale(0%);
	transform: scale(1.1);
	transition: filter 0.5s, transform 0.1s;
}

.ikona {
	height: 40px;
	margin: 10px 0;
	transition: transform 0.1s;
}

a:hover .ikona {
	transform: scale(1.1);
	transition: transform 0.1s;
}

/*
div a[href^="http"]::after,
div a[href^="https://"]::after
{
  	content: "🡵";
	vertical-align: super;
	font-size: 66%;
	margin-left: -2px;
}
*/

.poz-fialove .mail-ico::before {
  	content: "";
	width: 1em;
    height: 1em;
	margin-left: 0.05em;
	margin-right: 0.2em;
	margin-bottom: -0.15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Vrstva_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77.86 57.47'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23e9c2b8; %7D %3C/style%3E%3C/defs%3E%3Cg id='text'%3E%3Cpath class='cls-1' d='M72.89,0c1.16,0,2.06.13,2.72.4s1.15.63,1.48,1.1.54,1.02.63,1.64.14,1.28.14,1.97v47.39c0,.66-.13,1.29-.4,1.9s-.62,1.14-1.05,1.59-.96.81-1.57,1.08-1.26.4-1.95.4H4.97c-.81,0-1.53-.06-2.16-.19s-1.15-.36-1.57-.7-.73-.84-.94-1.5-.3-1.52-.3-2.58V5.11c0-.72.06-1.39.19-2.02s.37-1.16.75-1.62.88-.81,1.52-1.08,1.48-.4,2.51-.4h67.92ZM70.92,50.91V13.87l-29.86,22.73c-.62.47-1.28.7-1.97.7-.78,0-1.47-.23-2.06-.7L7.03,13.87v37.03h63.89ZM9.09,6.94l30,22.59,30.14-22.59H9.09Z'/%3E%3C/g%3E%3C/svg%3E");	
}

.poz-fialove .mail-ico:hover::before {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Vrstva_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80.69 60.3'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23e9c2b8; %7D %3C/style%3E%3C/defs%3E%3Cg id='text'%3E%3Cpath class='cls-1' d='M6.39,60.3c-.9,0-1.72-.07-2.43-.21-.85-.17-1.59-.5-2.19-.99-.64-.52-1.11-1.25-1.4-2.18-.25-.8-.37-1.78-.37-3V6.53c0-.81.07-1.58.21-2.29.17-.85.52-1.61,1.05-2.24.52-.63,1.22-1.13,2.07-1.48.82-.34,1.82-.51,3.05-.51h67.92c1.35,0,2.42.16,3.25.5.91.37,1.62.91,2.11,1.6.45.65.75,1.4.87,2.24.1.69.16,1.42.16,2.18v47.39c0,.85-.17,1.68-.52,2.46-.33.76-.78,1.44-1.33,2.01-.57.58-1.25,1.05-2.02,1.39-.79.34-1.63.52-2.51.52H6.39ZM70.92,50.91V18.15l-27.58,21c-.88.66-1.83.99-2.83.99-1.1,0-2.09-.34-2.94-1.01L9.87,18.14v32.76h61.06ZM40.51,29.18l25.88-19.4H14.75l25.76,19.4Z'/%3E%3C/g%3E%3C/svg%3E");
}

.poz-bezove a .mail-ico::before {
  	content: "";
	width: 1em;
    height: 1em;
	margin-right: 0.2em;
	margin-left: 0.15em;
	margin-bottom: -0.15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Vrstva_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77.86 57.47'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23281b4b; %7D %3C/style%3E%3C/defs%3E%3Cg id='text'%3E%3Cpath class='cls-1' d='M72.89,0c1.16,0,2.06.13,2.72.4s1.15.63,1.48,1.1.54,1.02.63,1.64.14,1.28.14,1.97v47.39c0,.66-.13,1.29-.4,1.9s-.62,1.14-1.05,1.59-.96.81-1.57,1.08-1.26.4-1.95.4H4.97c-.81,0-1.53-.06-2.16-.19s-1.15-.36-1.57-.7-.73-.84-.94-1.5-.3-1.52-.3-2.58V5.11c0-.72.06-1.39.19-2.02s.37-1.16.75-1.62.88-.81,1.52-1.08,1.48-.4,2.51-.4h67.92ZM70.92,50.91V13.87l-29.86,22.73c-.62.47-1.28.7-1.97.7-.78,0-1.47-.23-2.06-.7L7.03,13.87v37.03h63.89ZM9.09,6.94l30,22.59,30.14-22.59H9.09Z'/%3E%3C/g%3E%3C/svg%3E");	
}

.poz-bezove a:hover .mail-ico::before {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Vrstva_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80.69 60.3'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23281b4b; %7D %3C/style%3E%3C/defs%3E%3Cg id='text'%3E%3Cpath class='cls-1' d='M6.39,60.3c-.9,0-1.72-.07-2.43-.21-.85-.17-1.59-.5-2.19-.99-.64-.52-1.11-1.25-1.4-2.18-.25-.8-.37-1.78-.37-3V6.53c0-.81.07-1.58.21-2.29.17-.85.52-1.61,1.05-2.24.52-.63,1.22-1.13,2.07-1.48.82-.34,1.82-.51,3.05-.51h67.92c1.35,0,2.42.16,3.25.5.91.37,1.62.91,2.11,1.6.45.65.75,1.4.87,2.24.1.69.16,1.42.16,2.18v47.39c0,.85-.17,1.68-.52,2.46-.33.76-.78,1.44-1.33,2.01-.57.58-1.25,1.05-2.02,1.39-.79.34-1.63.52-2.51.52H6.39ZM70.92,50.91V18.15l-27.58,21c-.88.66-1.83.99-2.83.99-1.1,0-2.09-.34-2.94-1.01L9.87,18.14v32.76h61.06ZM40.51,29.18l25.88-19.4H14.75l25.76,19.4Z'/%3E%3C/g%3E%3C/svg%3E");
}

.download::before {
    content: "";
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
/*    	background-image: url("media/symbol-download.svg");*/
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Vrstva_2' data-name='Vrstva 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7.59 9.8'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23E9C2B8; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Vrstva_1-2' data-name='Vrstva 1'%3E%3Cg%3E%3Cpath class='cls-1' d='M3.53,7.72s.02.02.04.02c.03.02.05.04.08.06.05.02.09.03.14.03s.1-.01.14-.03c.03-.01.05-.03.07-.05.02-.01.03-.02.05-.03l3.42-3.42c.15-.15.15-.38,0-.53-.15-.15-.38-.15-.53,0l-2.78,2.78V.38c0-.21-.17-.38-.38-.38s-.38.17-.38.38v6.18L.64,3.77c-.15-.15-.38-.15-.53,0-.15.15-.15.38,0,.53l3.42,3.42Z'/%3E%3Cpath class='cls-1' d='M7.21,9.05H.38c-.21,0-.38.17-.38.38s.17.38.38.38h6.84c.21,0,.38-.17.38-.38s-.17-.38-.38-.38Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.download:hover::before {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Vrstva_2' data-name='Vrstva 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.09 10.3'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23E9C2B8; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Vrstva_1-2' data-name='Vrstva 1'%3E%3Cg%3E%3Cpath class='cls-1' d='M3.6,8.15s.04.02.06.04c.05.04.09.07.14.1.08.03.16.05.24.05s.17-.02.24-.05c.05-.02.1-.06.14-.1.02-.01.04-.02.06-.04l3.42-3.42c.24-.24.24-.64,0-.88-.24-.24-.64-.24-.88,0l-2.35,2.35V.62c0-.35-.28-.62-.62-.62s-.62.28-.62.62v5.58L1.07,3.85c-.24-.24-.64-.24-.88,0-.24.24-.24.64,0,.88l3.42,3.42Z'/%3E%3Cpath class='cls-1' d='M7.46,9.05H.63C.28,9.05,0,9.33,0,9.67s.28.62.62.62h6.84c.34,0,.62-.28.62-.62s-.28-.62-.62-.62Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mail {
	display: inline-block;
}


.font-preload-700 {
	font-family: 'Roboto';
	font-weight: 700;
	visibility: hidden;
	position: absolute;
}

.font-preload-900 {
	font-family: 'Roboto';
	font-weight: 900;
	visibility: hidden;
	position: absolute;
}
